In [1]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))  # Output: 120

120

In [5]:
my_list = [1, 4, 3, 4]
for idx, val in enumerate(my_list):
    if val==4:
        print(idx)

1
3

In [6]:
# Tuple को dictionary में key के रूप में इस्तेमाल करना
my_dict = {(1,2): "pair"}
print(my_dict[(1,2)])  # Access value by tuple key -> pair

pair

In [24]:
dictsq = {x: x**2 for x in range(5)}
listsq=[x**2 for x in range(5)] 
dictsq,listsq

({0: 0, 1: 1, 2: 4, 3: 9, 4: 16}, [0, 1, 4, 9, 16])

In [19]:
x1=[]
x2=[]
for x,a in dictsq.items():
    x1.append(x)
    x2.append(a)
x1,x2

([0, 1, 2, 3, 4], [0, 1, 4, 9, 16])

In [33]:
l1=[1,2,3,4,5,6]
l2=[]
def inp(x):
    for i in x:
        if i % 2 == 0:
            l2.append(i)
    return l2
print(inp(l1))

[2, 4, 6]

In [34]:
d1={"Alice":25, "Bob":30, "Charlie":35}
for x,i in d1.items():
    if 30<i:
        print(x,":",i)

Charlie : 35

In [38]:
l1=[]
l1=[i for i in range(21)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [39]:
t=(10,20,30,40)
a,b,c,d=t
a,d=d,a
print(a,d)

(40, 10)

In [ ]:
select * from emp where Age > 30 AND Department='IT';
select avg(salary) as avgsalary  from emp;

In [40]:
import pandas as pd

# DataFrame बनाना
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "Salary": [50000, 60000, 70000, 80000],
    "Department": ["HR", "IT", "Finance", "IT"]
}

df = pd.DataFrame(data)

# Age > 30 वाले employees
print(df[df["Age"] > 30])

# Average Salary
print("Average Salary:", df["Salary"].mean())

# 10% Bonus column add करना
df["Bonus"] = df["Salary"] * 0.10
print(df)

      Name  Age  Salary Department
2  Charlie   35   70000    Finance
3    David   40   80000         IT
Average Salary: 65000.0
      Name  Age  Salary Department   Bonus
0    Alice   25   50000         HR  5000.0
1      Bob   30   60000         IT  6000.0
2  Charlie   35   70000    Finance  7000.0
3    David   40   80000         IT  8000.0

In [ ]:
#emp टेबल से उन employees का नाम और salary दिखाओ जिनकी salary 40,000 और 70,000 के बीच है।
select ename , salary from emp where salary>40000 and salary<70000;

#उन employees के नाम और department दिखाओ जिनके department का नाम 'I' से शुरू होता है।
select department,ename from emp  where like 'I%' grop by department;

#उन employees की पूरी details दिखाओ जिनकी age 25, 30 या 35 है।
select *  from emp where IN(25,30,35);

#पूरे emp टेबल से average age निकालो।
select avg(age) as avg_age from emp;

#हर department में employees की total salary expenditure (SUM) निकालो।
select deparment 
from emp 
goup by deparment
having sum(salary) as sum_salary

#पता करो कि company में कितने employees की salary average salary से ज्यादा है।
select * from emp where avg(salary)<salary ;

#Department-wise employee count दिखाओ लेकिन सिर्फ वही departments दिखाओ जिनमें कम से कम 3 employees हों।

In [8]:
#Merge two sorted lists without inbuilt sort
l1=[12,32,13,34,21,44,33,12,21,32]
l2=[45,89,34,12,75,23,43,52,13,76]
l3=l1+l2
l4=[]
l5=[]
for i in range(len(l3)):
    for j in range(len(l3)-1):
        if l3[j]>l3[j+1]:
            l3[j],l3[j+1]=l3[j+1],l3[j]
for i in range(len(l3)):
    if l3[i] not in l4:
        l4.append(l3[i])
    else:
        l5.append(l3[i])
print(l3)
print(l4)
print(l5)

[12, 12, 12, 13, 13, 21, 21, 23, 32, 32, 33, 34, 34, 43, 44, 45, 52, 75, 76, 89]
[12, 13, 21, 23, 32, 33, 34, 43, 44, 45, 52, 75, 76, 89]
[12, 12, 13, 21, 32, 34]

In [5]:
d=dict(zip(l1,l2))

In [9]:
print(d)

{12: 52, 32: 76, 13: 34, 34: 12, 21: 13, 44: 23, 33: 43}

In [16]:
keys = ["apple",10, "banana",30,40, "mango"]
values = [100, 30,50, 150,130]

# Create dictionary from lists
fruit_prices = dict(zip(keys, values))

print(fruit_prices)

{'apple': 100, 10: 30, 'banana': 50, 30: 150, 40: 130}